<div ng-repeat="team in teams">
    <ul class="team-availability list-unstyled">
        <li><h4 ng-bind="team.name"></h4></li>
        <li ng-repeat="member in team.people" ng-class="highlight(member)">
            <div class="row">
                <div class="col-md-3" ng-bind="member.name"></div>
                <div class="col-md-1" ng-bind="member.value"></div>
                <div class="col-md-8" ng-bind="member.info"></div>
            </div>
        </li>
    </ul>
</div>

<div ng-class="userAvailability()">
    <ul class="user-availability list-unstyled">
        <li><h4>Welcome Back <span ng-bind="user.name"></span></h4></li>
        <li>
            <button type="button" class="btn-in-office btn-lg btn-success active" ng-click="inOffice()">In</button>
            <button type="button" class="btn-out-of-office btn btn-lg" ng-click="outOfOffice()">Out</button>
        </li>
        <li>
            <p>Your upcoming PTO:</p>
            <ul ng-repeat="ooo in user.ooo">
                <li>
                    <p><span ng-bind="ooo.start"></span> to <span ng-bind="ooo.end"></span></p>
                    <p ng-bind="ooo.reason"></p>
                </li>
            </ul>
        </li>

    </ul>
</div>